{% extends "base.html" %}

{% load static %}

{% block content %}

{% if user.is_authenticated %}


<br>
<center><h2>PLEASE CLICK BELOW TO:</h2></center>

{% if user.organisation.organisation_type.id == 1 %}
<center><a href="{% url 'vehicle_new' %}">
        <img class="icon"src="{% static 'images/record_add.png' %}" height="70px" width="70px" style="padding: 5px; border-radius: 5px; border: 3px solid black; margin-bottom: 10px;">
        </a>
        <br>
    
        <div class="auth_link" style="position: relative;">
            <a href="{% url 'vehicle_new' %}" class="auth-button"> ADD VEHICLE RECORD</a>
        </div><br>

        <h2> OR <br></h2>

        <a href="{% url 'CustomsRecord_new' %}">
            <img class="icon" src="{% static 'images/record_add.png' %}" height="70px" width="70px" style="padding: 5px; border-radius: 5px; border: 3px solid black; margin-bottom: 10px;">
            </a>
            <br>

        <div class="auth_link" style="position: relative;">
            <a href="{% url 'CustomsRecord_new' %}" class="auth-button">ADD CUSTOMS RECORD</a>
            
        </div></center>
{% endif %}        
      
{% if user.organisation.organisation_type.id == 2 %}
<center><a href="{% url 'Ownership_new' %}">
            <img class="icon" src="{% static 'images/record_add.png' %}" height="70px" width="70px" style="padding: 5px; border-radius: 5px; border: 3px solid black; margin-bottom: 10px;">
            </a>
            <br>
        
            <div class="auth_link" style="position: relative;">
                <a href="{% url 'Ownership_new' %}" class="auth-button"> ADD OWNERSHIP RECORD</a>
            </div><br>

            <h2> OR <br></h2>
    
            <a href="{% url 'NumberPlate_new' %}">
                <img class="icon" src="{% static 'images/record_add.png' %}" height="70px" width="70px" style="padding: 5px; border-radius: 5px; border: 3px solid black; margin-bottom: 10px;">
                </a>
                <br>
    
            <div class="auth_link" style="position: relative;">
                <a href="{% url 'NumberPlate_new' %}" class="auth-button">ADD NUMBER PLATES RECORD</a>
                
            </div></center>
{% endif %}  
            

{% if user.organisation.organisation_type.id == 6 %}
<center><a href="{% url 'FinanceRecord_new' %}">
                <img class="icon" src="{% static 'images/record_add.png' %}" height="70px" width="70px" style="padding: 5px; border-radius: 5px; border: 3px solid black; margin-bottom: 10px;">
                </a>
                <br>
            
                <div class="auth_link" style="position: relative;">
                    <a href="{% url 'FinanceRecord_new' %}" class="auth-button"> ADD FINANCE RECORD</a>
                </div><br>    
                                 
                </div></center>

{% endif %} 


{% if user.organisation.organisation_type.id == 3 %}

<center> <a href="{% url 'PoliceRecord_new' %}">
    <img class="icon" src="{% static 'images/record_add.png' %}" height="70px" width="70px" style="padding: 5px; border-radius: 5px; border: 3px solid black; margin-bottom: 10px;">
    </a>
    <br>

    <div class="auth_link" style="position: relative;">
        <a href="{% url 'PoliceRecord_new' %}" class="auth-button"> ADD OFFENCE RECORD</a>
    </div><br>
    
    <h2> OR <br></h2>
                     
    </div>  
    
    
    
    
    
    </center>

{% endif %}


{% if user.organisation.organisation_type.id == 3 or user.organisation.organisation_type.id == 8 %}   
    
<center>
    
    <a href="{% url 'AccidentRecord_new' %}">
    <img class="icon" src="{% static 'images/record_add.png' %}" height="70px" width="70px" style="padding: 5px; border-radius: 5px; border: 3px solid black; margin-bottom: 10px;">
    </a>
    <br>

    <div class="auth_link" style="position: relative;">
        <a href="{% url 'AccidentRecord_new' %}" class="auth-button"> ADD ACCIDENT RECORD</a>
    </div><br>
                
                  
                    </center>
{% endif %}

{% if user.organisation.organisation_type.id == 5 %}                
<center><a href="{% url 'MaintenanceRecord_new' %}">
                            <img class="icon" src="{% static 'images/record_add.png' %}" height="70px" width="70px" style="padding: 5px; border-radius: 5px; border: 3px solid black; margin-bottom: 10px;">
                            </a>
                            <br>
                        
                            <div class="auth_link" style="position: relative;">
                                <a href="{% url 'MaintenanceRecord_new' %}" class="auth-button"> ADD MAINTENANCE RECORD</a>
                            </div><br></center>
   
</center>
{% endif %}



{% endif %}

{% endblock %}