{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <title> VEHICLE HUB </title> 
    
      
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      {% block scripts %}{% endblock %}
  </head>
</head>

<body>
    

    <div class="base-container">
        <div class="base-logo">
          <a href="#"><img src="{% static 'images/logo1.jpg' %}" height="70px"></a>
        </div>
        <div class="base-text-container">
          <h5 class="base-text">
            {% if user.is_authenticated %}
            Hi, {{user.first_name}} <br>
            {% endif %}
            {% if user.organisation_id > 0 %}
            Your access level: {{user.organisation.organisation_type.organisation_type}} 
            {% endif %}<br><br>
            <div>
            <a href="#" onclick="logout()" class="auth_link">LOG OUT</a>
            </div>
          </h5>
        </div>
      </div>

    
    
{% block content %} {% endblock content %}

</body>
</html>

<script>
    function logout() {
      // Perform the logout process
      // Example: Use an AJAX request to a logout endpoint or clear session data
    
      // Redirect the user to the login page
      window.location.href = "/login"; // Replace "/login" with the actual URL of your login page
    }
</script>