{% extends "base.html" %}

{% load static %}

{% block content %}
<br>
<center><h2>PLESASE CHOOSE ONE OF THE FOLLOWING OPTIONS</h2>
<br>
        <a href="{% url 'add_record_types' %}">
        <img class="icon" src="{% static 'images/record_add.png' %}" height="70px" width="70px" style="padding: 5px; border-radius: 5px; border: 3px solid black; margin-bottom: 10px;">
        </a>
        <br>
    
        <div class="auth_link" style="position: relative;">
            <a href="{% url 'add_record_types' %}" class="auth-button"> ADD RECORD</a>
        </div><br>

        <h2> OR <br></h2>

        <a href="{% url 'search_edit' %}">
            <img class="icon" src="{% static 'images/record_search_edit.png' %}" height="70px" width="70px" style="padding: 5px; border-radius: 5px; border: 3px solid black; margin-bottom: 10px;">
            </a>
            <br>

        <div class="auth_link" style="position: relative;">
            <a href="{% url 'search_edit' %}" class="auth-button">SEARCH/EDIT RECORD</a>
            
        </div>
        <br>
        <div>YOU CAN VIEW AND EDIT RECORDS MADE BY YOUR ORGANISATION ONLY</div><br>
   
</center>

{% endblock %}