{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

{% if user.is_authenticated %}


<div class="report-line-container">
  <h1>
    
    REPORT FOR
    
    
    <div class="report-line">
      <div class="report-logo">
        <img src="{% static 'images/' %}{{ vehicle.brand.logo_url }}" height="70px" padding="20px" alt="Brand Logo">
      </div>
      <div class="report-make-model">{{ vehicle.brand.brand }} {{ vehicle.model }}</div>
      {% with last_record=vehicle.numberplate_set.last %}
      {% if last_record.new_plates %}
    <div class="plates-report">{{ last_record.new_plates }}</div>
    {% endif %}
    {% endwith %}
    </div>
  </h1>
</div>

      <h1>
      General information: 
      </h1>
      
      <h3>             
      <br>
       VIN: {{vehicle.VIN}}
      <br>
      Year: {{vehicle.year}}
       <br>   
       {% if vehicle.fuel != null %}
       Fuel: {{vehicle.fuel}}
       <br>
       {% endif %}
       {% if vehicle.output != null %}
       Output: {{vehicle.output}} kW
       <br>
       {% endif %}
       {% if vehicle.drivetrain != null %}
       Drivetrain: {{vehicle.drivetrain}}
       <br>
       {% endif %}
       {% if vehicle.trim_line != null %}
       Trim line: {{vehicle.trim_line}}
       <br>
       {% endif %}
       <br>
       Safety rating: {{vehicle.rating.rating}}
       {% if vehicle.rating.rating == 1 %}
        <img src="{% static 'images/1star.png' %}" alt="1star" width="75" height="15" >
        {% elif vehicle.rating.rating == 2 %}
        <img src="{% static 'images/2stars.png' %}" alt="2stars" width="75" height="15" >
        {% elif vehicle.rating.rating == 3 %}
        <img src="{% static 'images/3stars.png' %}" alt="3stars" width="75" height="15" >
        {% elif vehicle.rating.rating == 4 %}
        <img src="{% static 'images/4stars.png' %}" alt="4stars" width="75" height="15" >
        {% elif vehicle.rating.rating == 5 %}
        <img src="{% static 'images/5stars.png' %}" alt="5stars" width="75" height="15" >          
        {% endif %}
       <br>
      </h3>
  </div><br>


  <div><h1>

    Customs information:  </h1>
    <h3>
      Customs clearance date:    
      {{ vehicle.customsrecord.record_date|date:"d-m-Y" }}
      <br>
      
      Mileage at clearance: 
      {{ vehicle.customsrecord.mileage }} km
      <br>

      Imported as new or used: 
      {{ vehicle.customsrecord.import_as }}      
      <br>      

      Imported as damaged:
      {{ vehicle.customsrecord.damaged }}      
      <br>

      Country of origin:
      {{ vehicle.customsrecord.country_of_origin }}      
      <br>
   
    </h3>
  </div><br>

  <div>
    
    
    <h1>

    Owhership records:  </h1>
    <h3>
      Total number of owners:    
      {{ vehicle.ownership_set.count }}<br><br>

      Ownership change dates and mileage:  <br>  
      {% for record in vehicle.ownership_set.all %}
      {{ forloop.counter }}. 
    {{ record.record_date|date:"d-m-Y" }} at {{ record.mileage }} km{% if user.organisation.organisation_type.id == 3 %}. Owner: {{ record.new_owner }} {% endif %}<br>
  {% endfor %}
                    
       </h3>
  </div><br>


  <div><h1>Plates that the vehicle ever had:</h1>

  <h3> {% for record in vehicle.numberplate_set.all %}
        {{ record.new_plates }} issued on {{ record.record_date|date:"d-m-Y"}} at {{record.mileage}} km <br>
        {% empty %}
        No plates were ever issued for this the vehicle.
    {% endfor %}</h3>

  </div><br>


    <div><h1>Loans:</h1>

      <h3>
        {% for record in vehicle.financerecord_set.all %}
        {{ forloop.counter }}. Provided by {{ record.user_id.organisation }}. Commencement date: {{ record.record_date|date:"d-m-Y" }}. Maturity date: {{ record.expiry_date|date:"d-m-Y" }}.
        {% if record.actual_completion_date|date:"d-m-Y" %}
            Repaid in full.
        {% else %}
            Not yet repaid.
        {% endif %}
        <br>
    {% empty %}
        No loans were secured against the vehicle.
    {% endfor %}
        </h3><br></div>

    
      

        <div>
          <h1>Accidents this vehicle was involved:</h1>
      
          <table class="report-table">
            <colgroup>
              <col style="width: 4%;">
              <col style="width: 8%;">
              <col style="width: 8%;">
              <col style="width: 40%;">
              <col style="width: 40%;">
              
          </colgroup>
              <thead>
                  <tr>
                    <th><h2>#</h2></th>
                    <th><h2>Date</h2></th>
                    <th><h2>Mileage</h2></th>
                    <th><h2>Details</h2></th>
                    <th><h2>Other vehicles involved</h2></th>
                  </tr>
              </thead>
              <tbody>
                  {% for record in vehicle.accidentrecord_set.all %}
                  <tr {% if forloop.counter|divisibleby:2 %}class="maroon-row"{% else %}class="blue-row"{% endif %}>
                      <td>{{ forloop.counter }}</td>
                      <td>{{ record.record_date|date:"d-m-Y" }}</td>
                      <td>{{ record.mileage }} km</td>
                      <td>{{ record.comment }}</td>
                      <td>{% if record.other_participants %}
                              {% if user.organisation.organisation_type.id == 3 %}
                                      {{ record.other_participants }}
                              {% else %}
                                Yes
                              {% endif %}
                          {% else %}
                                No
                          {% endif %}</td>
                  </tr>
                  {% empty %}
                  <tr>
                      <td colspan="5">No reported accidents</td>
                  </tr>
                  {% endfor %}
              </tbody>
          </table>
      </div>


      <div>
        <h1>Offences associated with this vehicle:</h1>
    
        <table class="report-table">
          <colgroup>
            <col style="width: 4%;">
            <col style="width: 8%;">
            <col style="width: 8%;">
            {% if user.organisation.organisation_type.id != 3 %}
            <col style="width: 80%;">
            {% else %}
            <col style="width: 40%;">
            {% endif %}
            <col style="width: 40%;">
            
        </colgroup>
            <thead>
                <tr>
                  <th><h2>#</h2></th>
                  <th><h2>Date</h2></th>
                  <th><h2>Type</h2></th>
                  <th><h2>Details</h2></th>
                    {% if user.organisation.organisation_type.id == 3 %}
                  <th><h2>Punishment</h2></th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for record in vehicle.policerecord_set.all %}
                <tr {% if forloop.counter|divisibleby:2 %}class="maroon-row"{% else %}class="blue-row"{% endif %}>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ record.record_date|date:"d-m-Y" }}</td>
                    <td>{{ record.breach_type_id.breach_type_title }}</td>
                    <td>{% if record.comment %}{{ record.comment }}{% endif %}</td>
                    {% if user.organisation.organisation_type.id == 3 %}
                    <td>{{ record.punishment_type_id.punishment_type_title }}</td>
                    {% endif %}
                </tr>
                {% empty %}
                <tr>
                    <td colspan="{% if user.organisation.organisation_type.id == 3 %}5{% else %}4{% endif %}">No reported offences.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

            <div>
              <h1>Maintenance records:</h1>
          
              <table class="report-table">
                <colgroup>
                <col style="width: 4%;">
                <col style="width: 8%;">
                <col style="width: 8%;">
                <col style="width: 20%;">
                <col style="width: 20%;">
                <col style="width: 20%;">
                <col style="width: 20%;">
            </colgroup>
                  <thead>
                      <tr>
                          <th><h2>#</h2></th>
                          <th><h2>Date</h2></th>
                          <th><h2>Mileage</h2></th>
                          <th><h2>Maintenance Type</h2></th>
                          <th><h2>Details</h2></th>
                          <th><h2>Products Used</h2></th>
                          <th><h2>Carried out by</h2></th>
                      </tr>
                  </thead>
                  <tbody>
                    {% for record in vehicle.maintenancerecord_set.all|dictsort:"record_date" %}
                    <tr {% if forloop.counter|divisibleby:2 %}class="maroon-row"{% else %}class="blue-row"{% endif %}>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ record.record_date|date:"d-m-Y" }}</td>
                        <td>{{ record.mileage }} km</td>
                        <td>{{ record.maintenance_type_id.maintenance_type_title }}</td>
                        <td>{% if record.comment %}{{ record.comment }}{% endif %}</td>
                        <td>{% if record.products_used %}{{ record.products_used }}{% endif %}</td>
                        <td>{% if record.user_id.organisation.title %}{{ record.user_id.organisation.title }}{% endif %}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="7">No recorded maintenance history.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

      





{% endif %}

{% endblock content %}