{% extends "base.html" %}

{% block content %}
    <br><br>
    <center><h2>Dear {{user.first_name}}, your request to join {{user.organisation.title}} has been approved.</h2></center>
    <br>
    <div class="search-container">
  
  <br>
      
    </div>
    </center>
    
      


{% endblock %}

    
    
        
    
    
    
    
    
    
    
    <br><br><br><br><br><br><br><br>
    <p>
        This is a project created by Alexey, Mei from Whitecliffe NZ for educational purposes only.
    </p>
