{% extends "base.html" %}

{% load static %}

{% block content %}

{% if user.is_authenticated %}

<h1>Search a vehicle by plates or/and VIN to request a report{% if user.organisation.organisation_type.id == 7 %}*{% endif %} </h1>
{% if user.organisation.organisation_type.id == 7 %}
<h1>*you can only search vehicles that you own </h1>
{% endif %}
<br>


<img src="{% static 'images/coupe.jpg' %}" height="60px" style="padding-left: 40px; padding-right: 40px; border-bottom: 4px solid black;">

<form class="input-form" method="POST">
    {% csrf_token %}

    {{ vehicleFilter.form.as_p }}
    
    <div class="auth_link">
        <button type="submit" class="auth-button">SEARCH</button>
    </div>
</form>

<br />



{% if vehicleFilter.form.is_bound and vehicleFilter.qs %}
    <h1>Search results:</h1>
    {% for vehicle in vehicleFilter.qs %}
    
    {% if user.organisation.organisation_type_id == 3 or user.organisation.organisation_type_id == 4 or user.organisation.organisation_type_id == 7 and vehicle.registered_owner_user_id.id == user.id%}
    
    <div class="report_search">
        
        <div class="search-line">
            <h2><a href="{% url 'report_details' vehicle.pk %}">
                {% if user.organisation.organisation_type_id == 3 or user.organisation.organisation_type_id == 4 %}
                <div class="counter">{{ forloop.counter }}.</div>
                {% endif %}
                {% if vehicle.numberplates %}
                    <div class="plates">{{ vehicle.numberplates }}</div>
                {% else %}
                    <div class="no-plates"></div>
                {% endif %}
                <div class="search-logo"><img src="{% static 'images/' %}{{ vehicle.brand.logo_url }}" height="70px" padding="20px" alt="Brand Logo"></div>
                <div class="search-make-model">{{ vehicle.brand.brand }} {{ vehicle.model }}</div>
                <div class="search-vin">VIN: {{ vehicle.VIN }}</div>                
            </a></h2>
        </div>
        
    
    {% endif %}
    

    {% endfor %}
{% elif vehicleFilter.form.is_bound %}
    <h2>No results found</h2>
{% endif %}


{% endif %} 

{% endblock content %}
    
