{% extends "base.html" %}

{% load static %}

{% block content %}
    <br><br>
    <center><h2>PLESASE CHOOSE ONE OF THE FOLLOWING OPTIONS</h2>
    <br>
        
    
        <div class="auth_link" style="position: relative;">
            <a href="{% url 'report' %}" class="auth-button">REQUEST A REPORT</a>
        </div><br><br>

        <div> OR </div><br>

        <div class="auth_link" style="position: relative;">
            <a href="{% url 'manage_records' %}" class="auth-button">MANAGE RECORDS</a>
        </div>
   
</center>

{% endblock %}