{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

{% if user.is_authenticated %}
 
  <div><h1>    

      General information: 
</h1>
    <h2>   Make: {{ vehicle.make }}
       <br>
       Model: {{vehicle.model}}
       <br> 
       {% if vehicle.fuel != null %}
       Fuel: {{vehicle.fuel}}
       <br>
       {% endif %}
       {% if vehicle.output != null %}
       Output: {{vehicle.output}} kW
       <br>
       {% endif %}
       {% if vehicle.drivetrain != null %}
       Drivetrain: {{vehicle.drivetrain}}
       <br>
       {% endif %}
       {% if vehicle.trim_line != null %}
       Trim line: {{vehicle.trim_line}}
       <br>
       {% endif %}
</h2>
  </div>


  <div><h1>

    Customs information:  </h1>
    <h2>
      Customs clearance date:    
      {{ vehicle.customsrecord.record_date }}
      <br>
      
      Mileage at clearance: 
      {{ vehicle.customsrecord.mileage }}
      <br>

      Imported as new or used: 
      {{ vehicle.customsrecord.import_as }}      
      <br>      

      Imported as damaged:
      {{ vehicle.customsrecord.damaged }}      
      <br>

      Country of origin:
      {{ vehicle.customsrecord.country_of_origin }}      
      <br>
   
    </h2>
  </div>

  <div><h1>

    Owhership records:  </h1>
    <h2>
      Total number of owners:    
      {{ vehicle.ownerships.all.count }}<br>

      Ownership change dates and mileage:  <br>  
      {% for ownership in vehicle.ownerships.all %}
      {{ forloop.counter }}.
    {{ ownership.record_date }} at {{ ownership.mileage }} km<br>
  {% endfor %}
                    
       </h2>
  </div>


  <div><h1>Plates that vehicle ever had:</h1>

  <h2> {% for record in vehicle.numberplate_set.all %}
        {{ record.new_plates }} issued on {{ record.record_date}} at {{record.mileage}} km <br>
      {% endfor %}</h2>

  <div>


{% endif %}

{% endblock content %}