{% extends "base.html" %}

{% block content %}

{% if user.is_authenticated %}

<h1>VEHICLES </h1>

<form style="width: 400px" method="POST">
    {% csrf_token %}

    {{ vehicleFilter.form.as_p }}
    
    <input type="submit" class="button-dark" style="width: 355px" value="SEARCH" />

</form>

<br />


{% for vehicle in vehicleFilter.qs %}

<div class="tour-entry">
    <h2><a href=" {% url 'vehicle_detail' vehicle.pk %} " >{{vehicle.VIN}}</a></h2>
    <p>{{vehicle.year}}</p>
    
</div>

{% endfor %}


<center>
    


    <a href="{% url 'vehicle_new' %}" class="button-dark">ADD NEW</a>

    <a href="{% url 'home' %}">Home</a> 

</center>

{% endif %} 

{% endblock content %}
    