body {
  font-family: "Tahoma"
}

.base-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border: 2px solid black;
}

.base-logo {
  flex: 1;
  display: flex;
  align-items: center;
  margin: 0px;
}

.base-text-container {
  text-align: right;
  margin: 0px;
}

.base-text {
  font-size: 14px;
  text-align: left;
  margin: 0px;
}
.auth_link {
  color: black;
  text-decoration: none;
  border: 3px solid black;
  padding: 5px;
  display: inline-block;
}


.centered-button {
  display: flex;
  justify-content: center;
}

.search-input {
  border: 2px solid black;
  width: 800px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 16px;
  margin-right: 10px;
}


.result-container{
  border: 1px solid rgba(175, 175, 175, 0.9);
  width: 800px;
  height: 100%;
  text-align: left;
  padding: 10px;
  align-self: flex-start;
}

.search-form {
  align-self: flex-start;
  text-align: left;
}

.search-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 30px;
}

.search-input-wrapper {
  display: flex;
  align-items: center;
}


.auth-button {
  background: none;
  border: none;
  padding: 0;
  font-family: inherit;
  font-size: inherit;
  font-weight: bold;
  color: inherit;
  cursor: pointer;  
}

.auth_link a {
  color: black;
  text-decoration: none;
}




